@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$font-size-base: 16px;
$font-size-lg: 20px;

$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;